  <div class="rst-versions" data-toggle="rst-versions" role="note" aria-label="versions">
    <span class="rst-current-version" data-toggle="rst-current-version">
      <span class="fa fa-book">Related software</span>
      <span class="fa fa-caret-down"></span>
    </span>
    <div class="rst-other-versions">
      <dl>
        {% for slug, url, desc in software %}
          <dd><a href="{{ url }}">{{ slug }}<br>
            <div style="text-indent:1em; font-size:small; color:gray">{{ desc }}</div>
          </a></dd>
        {% endfor %}
      </dl>
    </div>
  </div>
